output.txt
*.DS_Store
*.npy

# old genome annotation snakemake files and associated files 
TB_prokka_roary.smk
SP_prokka_roary.smk
SP_prokka_roary.yaml
TB_prokka_roary.yaml
get_SP_paths.sh
get_TB_paths.sh
SP_seqs.tsv
TB_seqs.tsv

# old R script
amp_vs_mNGS_cov.R
