output.txt
*.DS_Store
*.npy
*.Rhistory

# old pangenome snakemake files and associated files 
TB_prokka_roary.smk
SP_prokka_roary.smk
pipelines/2_pangenome_completeness/1_pangenome/scripts/get_SP_paths.sh
pipelines/2_pangenome_completeness/1_pangenome/scripts/get_TB_paths.sh
pipelines/2_pangenome_completeness/1_pangenome/scripts/get_SP_TB_paths.sh
pangenome_creation/

# old parnas files 
SP_parnas.smk
TB_parnas.smk

# old primer aln files 
SP_primer_aln.smk
TB_primer_aln.smk

# old envs
roary_2.yaml

# old R script
amp_vs_mNGS_cov.R

# shell scripts for read alignment pipeline
get_amp_paths.sh
get_mNGS_paths.sh
get_overall_coverage_stats.sh

