output.txt
*.DS_Store
*.npy
*.Rhistory

# old pangenome snakemake files and associated files 
TB_prokka_roary.smk
SP_prokka_roary.smk
get_SP_paths.sh
get_TB_paths.sh
scripts/
3_pangenome_creation/

# old parnas files 
SP_parnas.smk
TB_parnas.smk

# old envs
roary_2.yaml

# old R script
amp_vs_mNGS_cov.R
